@font-face
{
    font-family: 'Lobster';
    src: url('/res/polices/Lobster1_4.otf');
         
    font-weight: normal;
    font-style: normal;
}

body{
	background: url("/res/img/background.jpg") fixed;
	background-repeat: repeat;
}

.corps{
	width: 100%;
	min-width: 1000px;
}

section{
	display: inline-block;
	width: 80%;
	margin-right: 30px;
	vertical-align: top;
	margin-left: 30px;
}

h1{
	font-family: 'Lobster', serif;
	color: #F8F9F9;
	width: intrinsic;           /* Safari/WebKit utilisent un nom non-standard */
  	width: -moz-max-content;    /* Firefox/Gecko */
  	width: -webkit-max-content; /* Chrome */
  	margin:1em auto;
}

form{
	text-align: center;
}

#formulaire_recherche{
	margin-bottom: 30px;
}

#recherche_saisie,#valider_recherche,#tri,#page,#Go,#nb_pages_max{
	font-family: 'Lobster', serif;
	font-size: 115%;
	border-radius: 10px;
}

#nb_pages_max{
	margin-right: 5px;
	color: #F8F9F9;
}

#page{
	text-align: center;
	width: 5%;
}

#recherche_saisie{
	width: 20%;
	height: 30px;
}

#recherche_categorie,#valider_recherche{
	height: 36px;
}

#affichage_recherche_categorie{
	text-align:center;
}

h3{
	text-align: center;
}

#facebook-share-button{
	margin-bottom: 10px;
}