@font-face
{
    font-family: 'Lobster';
    src: url('/res/polices/Lobster1_4.otf');
    font-weight: normal;
    font-style: normal;
}

body{
	background: url("/res/img/background.jpg") fixed;
	background-repeat: repeat;
}

.corps{
	width: 100%;
	min-width: 1000px;
}

h1,p{
	width: intrinsic;           /* Safari/WebKit utilisent un nom non-standard */
  	width: -moz-max-content;    /* Firefox/Gecko */
  	width: -webkit-max-content; /* Chrome */
  	margin:1em auto;
}

h1{
	font-family: 'Lobster', serif;
	font-size: 175%;
	color: #F8F9F9;
}

section{
	display: inline-block;
	width: 80%;
	margin-right: 30px;
	vertical-align: top;
	margin-left: 30px;
}

form{
	text-align: center;
}

.input_form{
	border-radius: 10px;
	display: block;
	margin: 1em auto;
}

#nom,#url,#categorie{
	width: 40%;
	height: 25px;
}

.succes{
	font-family: 'Lobster', serif;
	color:green;
}

.echec{
	font-family: 'Lobster', serif;
	color:red;
}

#nb_pages_max{
	margin-right: 5px;
	color: #F8F9F9;
}

#page,#Go{
	font-family: 'Lobster', serif;
	font-size: 115%;
	border-radius: 10px;
}

#page{
	text-align: center;
	width: 5%;
}